<body>
    <div> {{colors.0}} </div>   <!-- อ่านค่าจากlist ผลลัพธ์คือ red -->
    <div> {{colors.1}} </div>   <!-- อ่านค่าจากlist ผลลัพธ์คือ green -->
    <div> {{flowers.a}} </div>   <!-- อ่านค่าจากlist ผลลัพธ์คือ rose -->
    <div> {{flowers.c}} </div>   <!-- อ่านค่าจากlist ผลลัพธ์คือ orchid -->
    <div> {{date.year}} </div>   <!-- อ่านค่าจาก Attribute year -->
    <div> {{date.day}} </div>   <!-- อ่านค่าจาก method day -->
    <div> {{date.month}} </div>   <!-- อ่านค่าจาก method month -->

</body>